<template>
    <div class="container">
        <div class="row">
                <div class="card">
                    <div class="card-body">
                        <form @submit.prevent="handleSubmit">
                            <div class="form-group">
                                <label for="">Title</label>
                                <input class="form-control" type="text" v-model="title" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Details</label>
                                <textarea class="form-control" v-model="details" id="" cols="30" rows="5"></textarea>
                            </div>
                            <div class="form-group mt-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AddProject',
    data(){
        return{
            title   : '',
            details : ''
        }
    },
    methods: {
        handleSubmit(){
            let project = {
                title: this.title,
                details: this.details,
                complete: false
            }

            fetch('http://localhost:3000/projects',{
                method: 'POST',
                headers: {'Content-Type' : 'application/json'},
                body: JSON.stringify(project)
            }).then(() => {
                this.$router.push('/')
            }).catch((err)=>console.log(err))

        }
    }
}
</script>
<style scoped>

</style>