<template>
    <div class="container">
        <div class="row">
                <div class="card">
                    <div class="card-body">
                        <form @submit.prevent="handleSubmit">
                            <div class="form-group">
                                <label for="">Title</label>
                                <input class="form-control" type="text" v-model="title" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Details</label>
                                <textarea class="form-control" v-model="details"  cols="30" rows="5"></textarea>
                            </div>
                            <div class="form-group mt-2">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['id'],
    data(){
        return {
            title:'',
            details: '',
            uri: 'http://localhost:3000/projects/'+this.id
        }
    },
    mounted(){
        fetch(this.uri)
        .then(res => res.json())
        .then(data => {
            this.title = data.title,
            this.details = data.details
        })
    },
    methods:{
        handleSubmit(){
            fetch(this.uri,{
                method:'PATCH',
                headers: {'Content-Type' : 'application/json'},
                body: JSON.stringify({title:this.title,details:this.details})
            })
            .then(() => {
                this.$router.push('/')
            }).catch(err => console.log(err))
        }
    }
}
</script>

<style>

</style>