<template>
    <div class="project" :class="{complete : project.complete}">
        <div class="actions">
            <h3 @click="showDetails =!showDetails">{{project.title}}</h3>
            <div class="icons">
                  <router-link :to="{name:'EditProject', params:{id:project.id}}">
                        <i class="fa fa-edit"></i>   
                  </router-link>   
                  <a @click="deleteProject"><i class="fa fa-trash"></i></a>    
                  <a @click="completeProject"><i class="fa fa-check done"></i></a>  
            </div>
        </div>
        <div v-if="showDetails" class="details">
            <p>{{project.details}}</p>
        </div>
    </div>
</template>
<script>
export default {
    props: ['project'],
    data(){
        return{
            showDetails:false,
            uri: 'http://localhost:3000/projects/'+ this.project.id
        }
    },
    methods:{
        deleteProject(){
                fetch(this.uri,{method:'Delete'})
                .then(
                    () =>{
                        this.$emit('delete',this.project.id)
                        })
                .catch(err => console.log(err))
        },
        completeProject(){
            fetch(this.uri,{
                method:'PATCH',
                headers:{'Content-Type':'application/json'},
                body:JSON.stringify({complete : !this.project.complete})
            }).then(
                () =>{
                    this.$emit('complete',this.project.id)
                })
            .catch(err => console.log(err))    
            
        }
    }
}
</script>




<style scoped>
.project{
    margin: 20px auto;
    background: white;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0,0.05);
    border-left: 4px solid #e90074;
}
h3{
    cursor: pointer;
}
.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons i{
    padding: 0 5px;
    cursor: pointer;
    color: #bbbbbb;
    font-weight: 700;
}
.icons i:hover{
    color: #777;
}

.project.complete{
    border-left: 4px solid #00ce89;
}
.project.complete .done{
    color:  #00ce89;
}

</style>